html {
  position: relative;
  min-height: 100%;
}

#logo {
  height: 2rem;
}

.navbar input[type="text"] {
  width: 150px !important;
}

main {
  margin-top: 90px;
}

#mapid {
  height: 300px;
}

/* Small screen settings */
@media screen and (min-width: 576px) {
  .navbar input[type="text"] {
    width: 200px !important;
  }

  main {
    margin-top: 80px !important;
  }
}
